*.db
/Урок 21/StarGame/StarGame/BIN
/Урок 21/StarGame/StarGame/Debug
/Урок 21/StarGame/StarGame/.vs
/Урок 23/POV/POV/Debug
/Урок 23/POV/POV/.vs
/Урок 23/POV/POV/POV/Release
/Урок 23/POV/POV/POV/Debug
